<h1>Reddit#home</h1>
<p>Find me in app/views/reddit/home.html.erb</p>

<div class='side'>
  <li class='submit-link'>
<%= link_to 'Submit a new link', new_links_path %>
  </li>
  <li class='submit-text'>
<%= link_to 'Submit a new text post', new_links_path %>
  </li>
</div>
