<% @links.each do |link| %>
  <div class="link-anchor">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
    </h2>

    <div class="link-button">
      <a class="link-button" href="<%= link.url %>">Visit Link</a>
    </div>
  </div>
<% end %>
