
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

/* header */

ul.nav-logged li {
  display: inline-block;
}

.nav-bar {
  background-color: #CDE3F9;
}

img {
  width: 55px;
}

#logo {
  float: left;
  margin-left: -9%;
}

.nav-account ul {
  float: right;
  list-style-type: none;
}

/* side */

.side {
  float: right;
  list-style-type: none;
}

/* body */

.content {
  float: none;
}

/* footer */

div.main-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  li {
    list-style: none;
  }
}

div.content-foot {
  border: 1px solid #F0F0F0;
  margin-left: auto;
  margin-right: auto;
  width: 612px;
  height: 160px;
  div.col {
    position: relative;
  }
}

div.column-foot {
  display: inline-block;
}
