@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

img {
  length: 40px;
  width: 40px;
}

.tab-menu {
  float: right;
}

/* footer */

footer {
  margin-top: 45px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
}
