
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

/* header */

.nav-bar {
  background-color: #CDE3F9;
}

img {
  length: 55px;
  width: 55px;
}

#logo {
  float: left;
}

.nav-account ul {
  float: right;
  list-style-type: none;
}

/* side */

.side {
  float: right;
  list-style-type: none;
}

/* body */

.content {
  float: none;
}

/* footer */

footer {
  margin-top: 45px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
}
