<footer class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3'>
        <small>about</small>
          <li><a class='choice' href='https://www.reddit.com/blog/'>blog</a></li>
          <li><a class='choice' href='https://www.reddit.com/about/'>about</a></li>
          <li><a class='choice' href='https://www.reddit.com/about/values/'>values</a></li>
          <li><a class='choice' href='https://www.reddit.com/code/'>source code</a></li>
          <li><a class='choice' href='https://www.reddit.com/advertising/'>advertise</a></li>
          <li><a class='choice' href='https://www.reddit.com/jobs/'>jobs</a></li>
      </div>
      <div class='col-md-3'>
        <small>help</small>
          <li><a class='choice' href='https://www.reddit.com/rules/'>site rules</a></li>
          <li><a class='choice' href='https://reddit.zendesk.com'>FAQ</a></li>
          <li><a class='choice' href='https://reddit.com/wiki/'>wiki</a></li>
          <li><a class='choice' href='https://www.reddit.com/wiki/reddiquette/'>reddiquette</a></li>
          <li><a class='choice' href='https://www.reddit.com/wiki/transparency/'>transparency</a></li>
          <li><a class='choice' href='https://www.reddit.com/contact'>contact us</a></li>
      </div>
      <div class='col-md-3'>
        <small>apps & tools</small>
          <li><a class='choice'>Reddit for Iphone</a></li>
          <li><a class='choice'>Reddit for Android</a></li>
          <li><a class='choice' href='https://m.reddit.com'>mobile website</a></li>
          <li><a class='choice' href='https://www.reddit.com/buttons/'>buttons</a></li>
      </div>
      <div class='col-md-3'>
        <small><3</small>
          <li><a class='choice-gold' href='https://www.reddit.com/gold/about/'>reddit gold</a></li>
          <li><a class='choice' href='http://redditgifts.com'>redditgifts</a></li>
      </div>
    </div>
  </div>
</footer>
